<!DOCTYPE html>
<html>
  <head>
    <title>{{ recipe.dish_name }}</title>
    <link rel="stylesheet" href="{{stylesheet}}">
  </head>
  <body>
    <h1>{{ recipe.dish_name }}</h1>
    <div class="recipe">
        <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
        <p><strong>Preparation Time:</strong> {{ recipe.time_to_prepare }}</p>
    </div>
    <div class="info">
        <p><strong>Source:</strong> <a href="{{ recipe.source }}">{{ recipe.source }}</a></p>
        <p><strong>Tags:</strong> {{ tags }}</p>
    </div>
    <form>
      <label>Tags (comma separated):</label>
      <input type="text" name="tags"/>
      <button type="submit">Find Recipe</button>
    </form>
  </body>
</html>
