<!DOCTYPE html>
<html>
  <head>
    <title>Recipe-Server</title>
    <link rel="stylesheet" href="{{ stylesheet }}">
  </head>
  <body>
    <h1>&nbsp;Recipes</h1>
    <div class="recipe">
      <h2>&nbsp;{{ recipe.dish_name }}</h2>

      <h3>&nbsp;Ingredients</h3>
      <p>&nbsp;{{ recipe.ingredients }}</p>

      <h3>&nbsp;Preparation time</h3>
      <p>&nbsp;{{ recipe.time_to_prepare }}</p>

      <h3>&nbsp;Source</h3>
      <p>&nbsp;<a href="{{ recipe.source }}" target="_blank">{{ recipe.source }}</a></p>

      <h3>&nbsp;Tags</h3>
      <ul>
        {% for tag in tags %}
          <li>&nbsp;{{ tag }}</li>
        {% endfor %}
      </ul>
    </div>
    <form>
      <label>Tags (comma separated):</label>
      <input type="text" name="tags"/>
      <button type="submit">New Joke</button>
    </form>
  </body>
</html>
