<!DOCTYPE html>
<html>
  <head>
    <title>Knock-Knock</title>
    <link rel="stylesheet" href="{{stylesheet}}">
  </head>
  <body>
  <h1>Knock-Knock</h1>
  <div class="joke">
      <span class="teller">Knock-Knock!</span><br/>
      <span class="tellee">Who's there?</span><br/>
      <span class="teller">{{joke.whos_there}}</span><br/>
      <span class="tellee">{{joke.whos_there}} who?</span><br/>
      <span class="teller">{{joke.answer_who}}</span>
  </div>
  <div class="info">
      <span class="source">Source: {{joke.joke_source}}</span>
      <span class="tags">Tags: {{tags}}</span>
  </div>
  <form>
    <label>Tags (comma separated):</label>
    <input type="text" name="tags"/>
    <button type="submit">New Joke</button>
  </form>
  </body>
</html>
