.annotation {
    font-style: italic;
    font-size: 60%;
}

h1 {
    font-weight: bold;
    font-size: 150%;
}

.recipe {
    border: 1px solid black;
}

.error {
    color: #881111;
}

/* .teller {
    font-weight: bold;
}

.tellee {
    font-style: italic;
}

h1 {
    font-weight: bold;
    font-size: 150%;
}

.joke {
    border: 1px solid black;
}

.source {
    font-style: italic;
    font-size: 75%;
}

.tags {
    font-style: italic;
    font-size: 75%;
    margin-left: 3em;
}

.error {
    color: #881111;
} */
